{% extends "base.html" %}
{% block content %}
<div class="items-center justify-center px-4">

<div class="max-w-md mx-auto mt-10 p-6 bg-white shadow-md rounded-md">
    <h2 class="text-2xl font-bold text-[#00979e] text-center mb-4">Set a New Password</h2>
    <p class="text-gray-600 text-sm text-center mb-4">Enter a new password for your account.</p>

    {% if validlink %}
    <form method="post">
        {% csrf_token %}
        
        {{ form.new_password1.label_tag }}
        <input 
            type="password" name="new_password1" placeholder="New Password"
            class="w-full py-3 px-3 bg-gray-50 border border-gray-300 rounded-md text-gray-700 focus:outline-none focus:ring focus:border-[#00979e]"
            required
        />

        {{ form.new_password2.label_tag }}
        <input 
            type="password" name="new_password2" placeholder="Confirm Password"
            class="w-full py-3 px-3 bg-gray-50 border border-gray-300 rounded-md text-gray-700 focus:outline-none focus:ring focus:border-[#00979e] mt-2"
            required
        />

        <button 
            type="submit"
            class="w-full py-3 bg-[#00979e] text-white rounded-md font-semibold hover:bg-blue-700 transition duration-200 focus:outline-none focus:ring mt-3"
        >
            Reset Password
        </button>
    </form>
    {% else %}
    <p class="text-red-500 text-center">The reset link is invalid or expired.</p>
    {% endif %}
</div>
</div>
{% endblock %}
