{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script
        src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
        crossorigin="anonymous">
    </script>
        <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
        <link rel="stylesheet" href="{% static 'accounts/css/custom.css' %}">
    <title>{% block title %}Ruth Miskin Portal{% endblock %}</title>
</head>
    <body class="h-screen flex flex-col">
        {% include "partials/navbar.html" %} 

        <div class="flex-grow flex items-center justify-center main-pattern-background">
            {% block content %}{% endblock %}
        </div>
    </body>

</html>