{% extends "base.html" %}
{% block content %}
<div class=" flex items-center justify-center px-4">
  <div class="w-full max-w-md bg-white shadow-md rounded-md p-8 border border-gray-200">
    <h2 class="text-3xl text-[#00979e] font-bold text-center mb-6">Email Confirmation Required</h2>
    <p class="text-lg text-gray-800 text-center mb-4">
      Please check your email and click the activation link to complete your registration.
    </p>
    <p class="text-base text-gray-700 text-center">
      If you haven't received an email, check your spam folder.
    </p>
  </div>
</div>
{% endblock %}
